<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvans">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Marvans"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marvans">
        <activity android:name=".DeleteAccountActivity"></activity>
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".AccountRecoveryActivity" />
        <activity android:name=".CheckEmailActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Main" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>